<div class = "contenedor">    
    <div class="formula">

        <form class = "formulario">
            <div class = "input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span> 
                <input id="b" [(ngModel)]="b" type="number" class="form-control b" name="b" placeholder="0.0">
            </div>
            <h2>+</h2>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input id="m" [(ngModel)]="m" type="number" class="form-control m" name="m" placeholder="0.0">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input id="x" [(ngModel)]="x" type="number" class="form-control x" name="x" placeholder="0.0">
            </div>
        </form>


        <i class="glyphicon glyphicon-plus result-button"
            (click)="getResultado()">Calcular</i>
            
    </div>

    <span class="resultado"><h1 class = "etqResult">Resultado = </h1>{{ resultado }}</span>
</div>